h1 {
font-size: 50pt;
    text-align: center;
}
h2{
    font-size: 40pt;
    text-align: center;
}
p{
    font-size: 20pt;
}
.text-center{
text-align: center;
}
.text-left{
    text-align: left;
}
.text_right{
    text-align: right;
}
.text_justify{
    text-align: justify;
}
.text-error{
    color: red;
}
.text-info{
    color: blue;
    font-weight: bolder;
}
.text-success{
    color: green;
    font-weight: bold;
}